@{
  ViewBag.Title = "Home Page";
}

<section>
  <fieldset>
    <legend>Select Employees</legend>
    <div class="container">
      <select multiple="multiple" id="my-select">
        @* option tags are dynamically set with ajax in home.js *@
      </select>
      <a href="#" id="selectAll">Select all</a> /
      <a href="#" id="removeAll">Remove all</a>
    </div>
  </fieldset>
</section>


@section Scripts {
  @Scripts.Render("~/bundles/home")
}


