@{
  ViewBag.Title = "Home Page";
}

<h2>Mult-select Control Sample</h2>

<fieldset>
  <legend>Select Employees</legend>
  <div class="container">
    <select multiple="multiple" id="my-select" name="my-select[]">
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
      <option value="5">Five</option>
      <option value="6">Six</option>
    </select>
  </div>
</fieldset>

@section Scripts {
  @Scripts.Render("~/bundles/home")
}


